@use "../default/mixins" as *;
@use "../variables" as *;

.article{
    &-short{
        padding: 40px 0;
        @include laptop{
            padding: 0 0 20px 0;
        }
        &__container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            @include laptop{
                grid-template-columns: 1fr;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            gap: 14px;
            .title{
                h1{
                    font-family: $second-family;
                    font-weight: 600;
                    font-size: 44px;
                    text-transform: uppercase;
                    color: $chernyy;
                    line-height: 1.3;
                    @include laptop{
                        font-size: 32px;
                    }
                }
            }
            .misc{
                display: flex;
                gap: 14px;
                align-items: center;
                .category{
                    border-radius: 4px;
                    padding-block: 4px;
                    padding-inline: 8px;
                    background: rgba(38, 173, 96, 0.1);
                    font-family: $font-family;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 120%;
                    color: $chernyy;
                }
                .date{
                    font-family: $font-family;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 120%;
                    color: $chernyy;
                }
            }
            .contents{
                border-radius: 8px;
                padding-block: 20px;
                padding-inline: 40px;
                background: $sv-seryy;
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 6px;
                @include laptop{
                    padding-inline: 10px;
                }
                .subtitle{
                    font-family: $second-family;
                    font-weight: 600;
                    font-size: 18px;
                    color: $chernyy;
                }
                ul{
                    padding-left: 24px;
                    li{
                        display: list-item;
                        list-style: disc;
                        &::marker{
                            font-size: 24px;
                            color: $t-zelenyy;
                        }
                        a{
                            font-family: $font-family;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 130%;
                            text-decoration: underline;
                            text-decoration-skip-ink: none;
                            color: $t-zelenyy;
                            transition: $transition;
                            &:hover{
                                text-decoration: unset;
                            }
                        }
                    }
                }
            }
        }
        .image{
            overflow: hidden;
            border-radius: 16px;
            picture, img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
    &-content{
        h2{
            font-family: $second-family;
            font-weight: 600;
            font-size: 34px;
            text-transform: uppercase;
            color: $chernyy;
            line-height: 1.2;
            @include laptop{
                font-size: 26px;
            }
            &+p{
                padding-top: 20px;
            }
            &:last-child{
                padding-bottom: 40px;
                @include laptop{
                    padding-bottom: 20px;
                }
            }
            &+h3, &+h4, &+h5, &+h6{
                padding-top: 20px;
            }
        }
        h3{
            padding: 14px 0;
            font-family: $second-family;
            font-weight: 600;
            font-size: 24px;
            text-transform: uppercase;
            color: $chernyy;
            line-height: 1.2;
            @include laptop{
                font-size: 20px;
            }
        }
        p{
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: $chernyy;
            &+h1, &+h2, &+h3, &+h4, &+h5, &+h6{
                padding-top: 30px;
            }
            &+ul, &+ol{
                padding-top: 14px;
            }
            &:last-child{
                padding-bottom: 40px;
                @include laptop{
                    padding-bottom: 20px;
                }
            }
        }
        ul{
            padding-left: 24px;
            display: flex;
            flex-direction: column;
            gap: 14px;
            li{
                display: list-item;
                flex-direction: column;
                gap: 4px;
                font-family: $font-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: $chernyy;
                list-style-type: disc;
                &::marker{
                    font-size: 24px;
                    color: $zelenyy;
                }
                span{
                    font-family: $second-family;
                    font-weight: 600;
                    font-size: 18px;
                    color: $chernyy;
                }
            }
            &+h2{
                padding-top: 30px;
            }
            &:last-child{
                padding-bottom: 40px;
                @include laptop{
                    padding-bottom: 20px;
                }
            }
        }
        .images{
            padding: 30px 0;
            /* display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px; */
            .image{
                height: 390px;
                overflow: hidden;
                border-radius: 8px;
                @include mobile{
                    height: 250px;
                };
                picture, img{
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            &:last-child{
                padding-bottom: 40px;
                @include laptop{
                    padding-bottom: 20px;
                }
            }
        }
        .separated{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            @include laptop{
                grid-template-columns: 1fr;
                gap: 0;
            }
            .image{
                height: 390px;
                overflow: hidden;
                border-radius: 8px;
                @include tablet{
                    height: 250px;
                }
                picture, img{
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            &:last-child{
                padding-bottom: 40px;
                @include laptop{
                    padding-bottom: 20px;
                }
            }
        }
    }
    &-buttons{
        padding-bottom: 40px;
        @include laptop{
            padding-bottom: 30px;
        }
        &__container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
            .back-to-articles{
                font-family: $font-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: $chernyy;
                transition: $transition;
                &:hover{
                    opacity: .5;
                }
            }
            .share{
                display: flex;
                align-items: center;
                gap: 14px;
                .icon{
                    background: $sv-seryy;
                    border-radius: 8px;
                    padding: 12px;
                    transition: $transition;
                    line-height: 1;
                    &:hover{
                        background-color: $seryy-tekst;
                    }
                }
                .text{
                    @include tablet{
                        display: none;
                    }
                }
            }
        }
    }
    .comments{
        padding: 40px 0;
        @include laptop{
            padding: 30px 0;
        }
        &__module{
        }
        &__list{
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .item{
                background: $sv-seryy;
                border-radius: 8px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 14px;
                .info{
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    .name{
                        font-family: $second-family;
                        font-weight: 600;
                        font-size: 18px;
                        color: $chernyy;
                    }
                    .date{
                        font-family: $font-family;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 120%;
                        color: $chernyy;
                    }
                }
                .comment{
                    font-family: $font-family;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    color: $chernyy;
                }
                .answer{
                    background: $belyy;
                    border-radius: 8px;
                    padding-block: 14px;
                    padding-inline: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                    .title{
                        font-family: $second-family;
                        font-weight: 600;
                        font-size: 18px;
                        color: $chernyy;
                    }
                    .content{
                        font-family: $font-family;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 130%;
                        color: $chernyy;
                    }
                }
            }
        }
        &__more{
            margin: 0 auto;
        }
    }
    .consult{
        padding-bottom: 80px;
        @include laptop{
            padding-bottom: 60px;
        }
    }
    .blog{
        @include laptop{
            padding: 30px 0 0 0;
        }
    }
}