@use "../default/mixins" as *;
@use "../variables" as *;

.contacts{
    .contacts-info{
        margin: 0 0 40px 0;
        @include laptop{
            margin: 0 0 30px 0;
        }
        &__container{
            display: flex;
            flex-direction: row;
            gap: 20px;
            @include laptop{
                flex-direction: column;
                gap: 10px;
            }
            .items{
                flex: 1 1 35%;
                border-radius: 16px;
                padding-block: 40px 20px;
                padding-inline: 20px;
                background: $sv-seryy;
                display: flex;
                flex-direction: column;
                gap: 40px;
                @include laptop{
                    padding: 20px 10px;
                    gap: 20px;
                }
                .item{
                    display: flex;
                    gap: 8px;
                    .icon{
                        width: 20px;
                        display: flex;
                        justify-content: center;
                        picture, img{
                            width: fit-content;
                            height: fit-content;
                            object-fit: contain;
                            display: block;
                        }
                    }
                    .content{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        .title{
                            font-family: $second-family;
                            font-weight: 600;
                            font-size: 24px;
                            text-transform: uppercase;
                            color: $t-zelenyy;
                            @include laptop{
                                font-size: 20px;
                            }
                        }
                        .text{
                            font-family: $font-family;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 130%;
                            color: $chernyy;
                            a{
                                transition: $transition;
                                &:hover{
                                    opacity: .5;
                                }
                            }
                        }
                    }
                    .socials{
                        &__item{
                            transition: $transition;
                            &:hover{
                                opacity: .5;
                            }
                        }
                    }
                }
            }
            .map{
                border-radius: 16px;
                overflow: hidden;
                flex: 1 1 65%;
                @include laptop{
                    flex: 1 1 500px;
                }
                picture, img{
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                }
            }
        }
    }
}