@use "../default/mixins" as *;
@use "../variables" as *;

.portfolio{
    &-list{
        padding: 0 0 40px 0;
        overflow: hidden;
        @include laptop{
            padding: 0 0 30px 0;
        }
        &__grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px 20px;
            @include laptop{
                grid-template-columns: repeat(2, 1fr);
            }
            @include mobile{
                grid-template-columns: 1fr;
            }
        }
        .item{
            display: flex;
            flex-direction: column;
            gap: 14px;
            .image{
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 16px;
                picture, img{
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .info{
                display: flex;
                flex-wrap: wrap;
                gap: 14px;
                @include laptop-big__1600{
                    flex-wrap: nowrap;
                }
                .param{
                    display: flex;
                    gap: 8px;
                    .text{
                        font-family: $font-family;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 120%;
                        color: $chernyy;
                        overflow: hidden;
                        line-clamp: 1;
                        -webkit-line-clamp: 1;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                    }
                }
            }
            .title{
                font-family: $second-family;
                font-weight: 600;
                font-size: 18px;
                color: $chernyy;
                overflow: hidden;
                line-clamp: 2;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                height: 40px;
                @include laptop-big__1600{
                    height: 50px;
                }
            }
        }
    }
    .consult{
        padding-bottom: 80px;
        @include laptop{
            padding-bottom: 60px;
        }
    }
    &-single{
        .hero{
            .about__video{
                @include tablet{
                    padding-top: 30px;
                }
                .video__placeholder{
                    overflow: hidden;
                    border-radius: 16px;
                    @include tablet{
                        height: 450px;
                    }
                }
                video{
                    overflow: hidden;
                    border-radius: 16px;
                    max-height: 450px;
                    @include tablet{
                        height: 450px;
                    }
                }
            }
            .main__text{
                padding: 20px 40px;
                @include laptop{
                    padding: 20px 10px;
                }
                h3{
                    font-family: $second-family;
                    font-weight: 600;
                    font-size: 24px;
                    text-transform: uppercase;
                    color: $chernyy;
                }
                .params__list{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;
                    @include laptop{
                        grid-template-columns: 1fr;
                    }
                    .item{
                        display: flex;
                        gap: 14px;
                        .text{
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            .title{
                                font-family: $font-family;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 120%;
                                color: $chernyy;
                            }
                            .description{
                                font-family: $second-family;
                                font-weight: 600;
                                font-size: 18px;
                                color: $chernyy;
                            }
                        }
                    }
                }
            }
            &__images{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                @include tablet{
                    grid-template-columns: 1fr;
                }
                .item{
                    overflow: hidden;
                    border-radius: 16px;
                    picture, img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }
            }
        }
    }
    .other__slider{
        @include laptop{
            padding-top: 30px;
        }
    }
}