@use "../default/mixins" as *;
@use "../variables" as *;

.reviews{
    .separated-content{
        padding: 0 0 40px 0;
        @include laptop{
            padding: 0 0 30px 0;
        }
    }
    .consult{
        padding: 40px 0 80px 0;
        @include laptop{
            padding: 30px 0 60px 0;
        }
    }
}