@use "../default/mixins" as *;
@use "../variables" as *;

.thanks{
    &-block{
        &__container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 14px;
            position: relative;
            padding: 160px 0;
            margin: 20px 0;
            overflow: hidden;
            border-radius: 16px;
            @include tablet{
                padding: 50px 0;
            }
            .info{
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                gap: 14px;
                @include tablet{
                    padding: 0 40px;
                }
                .title{
                    font-family: $second-family;
                    font-weight: 600;
                    font-size: 44px;
                    text-transform: uppercase;
                    text-align: center;
                    color: $belyy;
                    @include tablet{
                        font-size: 32px;
                        line-height: 1.3;
                    }
                }
                .description{
                    font-family: $font-family;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    text-align: center;
                    color: $belyy;
                }
            }
            .btn{
                position: relative;
                z-index: 1;
                margin-top: 26px;
                padding-block: 14px;
                @include tablet{
                    width: 95%;
                }
            }
            .thanks__image{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
                &:before{
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #102118;
                    opacity: .7;
                }
                picture, img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
        }
    }
}