$chernyy: #2f2f2f;
$seryy-tekst: #8c8c8c;
$t-zelenyy: #1f422e;
$zelenyy: #26ad60;
$sv-seryy: #f8f8f8;
$belyy: #fff;

$transition: all .3s ease;

$font-family: "Roboto", sans-serif;
$second-family: "Proxima Nova", sans-serif;
$third-family: "Vela Sans", sans-serif;