@use "../default/mixins" as *;
@use "../variables" as *;

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    &.sticked{
        box-shadow: 0 1px 14px 0 rgba(47, 47, 47, .15);
    }
    &__utility{
        padding: 10px 0 8px 0;
        background: $sv-seryy;
        @include laptop{
            display: none;
        }
        .utility{
            &__container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            &__city{
                .tail-select{
                    .tail--search{
                        font-family: $font-family;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 130%;
                        color: $chernyy;
                        padding-right: 28px;
                        width: 130px;
                        max-width: 100%;
                        text-align: center;
                    }
                }
            }
            &__switch{
                .switch-btns{
                    &__btn{
                        width: 245px;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                    }
                }
            }
            &__contacts{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                justify-content: center;
                .socials{
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    &__item{
                        transition: $transition;
                        &:hover{
                            opacity: .5;
                        }
                    }
                }
                .email, .phone{
                    transition: $transition;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__menu{
        padding: 8px 0 10px 0;
        background: $belyy;
        .menu__container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .menu{
                &__menu{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    @include laptop{
                        display: none;
                    }
                }
                &__part{
                    &-left{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 40px;
                    }
                    &-right{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 20px;
                    }
                }
                &__list{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                }
                &__item{
                    font-family: $font-family;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    color: $chernyy;
                    transition: $transition;
                    &:hover, &.active{
                        text-decoration: underline;
                    }
                }
                &__lid{
                    .btn{
                        @include laptop-big__1600{
                            padding-inline: 14px;
                            padding-block: 8px;
                        }
                        svg{
                            fill: $zelenyy;
                            color: $zelenyy;
                        }
                        &:hover{
                            --svg-fill: #{$belyy};
                            svg{
                                fill: var(--svg-fill, $belyy);
                                color: var(--svg-fill, $belyy);
                            }
                        }
                    }
                    .long-text{
                        display: flex;
                        @include laptop-big__1600{
                            display: none;
                        }
                    }
                    .short-icon{
                        display: none;
                        @include laptop-big__1600{
                            display: flex;
                        }
                    }
                }
            }
        }
        .dropdown{

            &.active{
                .dropdown-trigger{
                    background-color: $zelenyy;
                }
            }
            &-content{
                width: 490px;
                @include laptop-big__1600{
                    width: 290px;
                }
                .catalog__list{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .catalog__item{
                    width: 100%;
                    padding: 10px;
                    transition: $transition;
                    font-family: $second-family;
                    font-weight: 600;
                    font-size: 18px;
                    border-radius: 4px;
                    color: $chernyy;
                    &:hover{
                        background: $sv-seryy;
                    }
                }
            }
        }
    }
}