@use "../default/mixins" as *;
@use "../variables" as *;

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    &.sticked{
        box-shadow: 0 1px 14px 0 rgba(47, 47, 47, .15);
    }
    &__utility{
        padding: 10px 0 8px 0;
        background: $sv-seryy;
        @include laptop{
            display: none;
        }
        .utility{
            &__container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            &__city{
                z-index: 2;
                .tail-select{
                    .tail--search{
                        font-family: $font-family;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 130%;
                        color: $chernyy;
                        padding-right: 28px;
                        width: 130px;
                        max-width: 100%;
                        text-align: center;
                    }
                    [type="checkbox"]{
                        display: none;
                    }
                }
            }
            &__switch{
                .switch-btns{
                    &__btn{
                        width: 245px;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                    }
                }
            }
            &__contacts{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                justify-content: center;
                .socials{
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    &__item{
                        transition: $transition;
                        &:hover{
                            opacity: .5;
                        }
                    }
                }
                .email, .phone{
                    transition: $transition;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__menu{
        padding: 8px 0 10px 0;
        background: $belyy;
        .menu__container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .menu{
                &__menu{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    @include laptop{
                        display: none;
                    }
                }
                &__part{
                    &-left{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 40px;
                        z-index: 1;
                    }
                    &-right{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 20px;
                        z-index: 1;
                        @include laptop{
                            gap: 10px;
                        }
                    }
                }
                &__list{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                }
                &__item{
                    font-family: $font-family;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    color: $chernyy;
                    transition: $transition;
                    &:hover, &.active{
                        text-decoration: underline;
                    }
                }
                &__lid{
                    .btn{
                        svg{
                            fill: $zelenyy;
                            color: $zelenyy;
                        }
                        @include laptop-big__1600{
                            padding-inline: 14px;
                            padding-block: 8px;
                        }
                        @include laptop{
                            padding-inline: 8px;
                            background-color: $sv-seryy;
                            color: $chernyy;
                            border: 1px solid $sv-seryy;
                            svg{
                                fill: $chernyy;
                                color: $chernyy;
                            }
                        }
                        @include hover{
                            --svg-fill: #{$belyy};
                            svg{
                                fill: var(--svg-fill, $belyy);
                                color: var(--svg-fill, $belyy);
                            }
                        }
                    }
                    .long-text{
                        display: flex;
                        @include laptop-big__1600{
                            display: none;
                        }
                    }
                    .short-icon{
                        display: none;
                        @include laptop-big__1600{
                            display: flex;
                        }
                    }
                }
                &__search{
                    @include laptop{
                        &:not(.active){
                            display: none;
                        }
                        position: absolute;
                        left: 0;
                        right: 0;
                        background: $belyy;
                        width: 100%;
                        height: 100%;
                        padding: 20px;
                        .search__btn{
                            margin-right: 40px;
                            padding: 12px;
                        }
                    }
                }
                &__search-trigger{
                    padding: 12px;
                    .icon-close{
                        display: none;
                    }
                    .icon-open{
                        display: flex;
                    }
                    &.active{
                        position: absolute;
                        right: 10px;
                        .icon-close{
                            display: flex;
                        }
                        .icon-open{
                            display: none;
                        }
                    }
                }
                &__menu-trigger{
                    padding: 10px;
                    margin-left: 10px;
                    .icon-close{
                        display: none;
                    }
                    .icon-open{
                        display: flex;
                    }
                    &.active{
                        background-color: $zelenyy;
                        .icon-close{
                            display: flex;
                        }
                        .icon-open{
                            display: none;
                        }
                    }
                }
                &__mobile-menu{
                    @include laptop__min{
                        &.active{
                            display: none;
                        }
                    }
                    display: none;
                    position: absolute;
                    height: 100dvh;
                    overflow-y: auto;
                    background: #FFF;
                    left: 0;
                    right: 0;
                    top: 0;
                    padding-top: 95px;
                    padding-inline: 10px;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 10px;
                    &.active{
                        display: flex;
                    }
                    .switch-btns{
                        flex-direction: column;
                        width: 100%;
                        padding-bottom: 10px;
                        &__btn{
                            width: 100%;
                            text-align: center;
                        }
                    }
                    .dropdown{
                        width: 100%;
                        background-color: #fff;
                        overflow: auto;
                        padding-bottom: 10px;
                        &.active{
                            position: absolute;
                            left: 10px;
                            right: 10px;
                            width: unset;
                            bottom: 10px;
                            top: 95px;
                            overflow: auto;
                        }
                        &-trigger{
                            width: 100%;
                        }
                        &-content{
                            box-shadow: unset;
                            width: 100%;
                            position: static;
                        }
                    }
                    .menu__list{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        width: 100%;
                        align-items: flex-start;
                        padding: 0 10px;
                        padding-bottom: 20px;
                        .menu__item{
                            text-decoration: unset;
                        }
                    }
                    .socials{
                        padding: 0 10px;
                    }
                    .contacts__list{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        padding: 0 10px;
                        gap: 10px;
                    }
                    .utility__city{
                        width: 100%;
                        padding-top: 10px;
                        .tail-select{
                            width: 100%;
                            background: $sv-seryy;
                            padding: 8px 28px;
                            [type="checkbox"]{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .dropdown{
            &.active{
                .dropdown-trigger{
                    background-color: $zelenyy;
                }
            }
            &-content{
                width: 490px;
                @include laptop-big__1600{
                    width: 290px;
                }
                .catalog__list{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .catalog__item{
                    width: 100%;
                    padding: 10px;
                    transition: $transition;
                    font-family: $second-family;
                    font-weight: 600;
                    font-size: 18px;
                    border-radius: 4px;
                    color: $chernyy;
                    &:hover{
                        background: $sv-seryy;
                    }
                }
            }
        }
    }
}