@use "mixins"as *;
@use "../variables"as *;

html {
	background-color: white;
	scroll-behavior: smooth;
	height: 100%;

	body {

		.tail-select,
		.tail-select.tail--multiple,
		.tail-select.tail--single {
			border-radius: 8px;
			box-shadow: unset;
			border: 1px solid transparent;
		}

		.tail-select.city-select.tail-default.tail--single {
			&:hover {
				border: 1px solid $seryy-tekst;
			}
		}
	}
}

body {
	font-family: $font-family;
	color: $chernyy;
	font-style: normal;
}

.container {
	padding: 0 20px;
	width: 1560px;
	margin-inline: auto;
	@include laptop-big__1600{
		width: 1180px;
		padding: 0 10px;
	}
	@include laptop{
		width: 100%;
		padding: 0 10px;
		margin: 0;
	}
}

.switch-btns {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;

	&__btn {
		border-radius: 8px;
		padding-block: 8px;
		padding-inline: 40px;
		background: transparent;
		font-family: $font-family;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		color: $chernyy;
		border: 1px solid #dbdbdb;
		transition: $transition;
		cursor: pointer;

		&:hover {
			background-color: $zelenyy;
			color: $belyy;
			border: 1px solid $zelenyy;
		}

		&.active {
			background: $t-zelenyy;
			color: $belyy;
			border: 1px solid $t-zelenyy;
			cursor: default;
		}
	}
}

.btn {
	border-radius: 8px;
	padding-block: 12px;
	padding-inline: 40px;
	font-family: $font-family;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	color: $belyy;
	background: $t-zelenyy;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	gap: 10px;
	transition: $transition;
	border: 1px solid transparent;
	cursor: pointer;
	text-transform: none;
	text-align: center;
	@include laptop-big__1600{
		padding-inline: 20px;
	}

	@include hover{
		background: $zelenyy;
	}

	&--transparent {
		background-color: transparent;
		color: $chernyy;
		border: 1px solid $zelenyy;

		@include hover{
			background-color: $zelenyy;
			color: $belyy;
		}
	}

	&--green-light {
		background-color: $zelenyy;
		color: $belyy;
		border: 1px solid $zelenyy;

		@include hover{
			background-color: $t-zelenyy;
			color: $belyy;
			border: 1px solid $t-zelenyy;
		}
	}

	&--green-lighter {
		background-color: #eaf7f0;
		color: $chernyy;
		border: 1px solid #eaf7f0;

		@include hover{
			background-color: rgba(38, 173, 96, 1);
			color: $belyy;
			border: 1px solid rgba(38, 173, 96, 1);
		}
	}

	&--gray{
		background-color: $sv-seryy;
		color: $chernyy;
		border: 1px solid $sv-seryy;

		@include hover{
			background-color: $t-zelenyy;
			color: $belyy;
			border: 1px solid $t-zelenyy;
		}
		&.no-hover{
			@include hover{
				background-color: $sv-seryy;
				color: $chernyy;
				border: 1px solid $sv-seryy;
			}
		}
	}

	&--white {
		background-color: $belyy;
		color: $chernyy;
		border: 1px solid $belyy;

		@include hover{
			background-color: $zelenyy;
			color: $belyy;
			border: 1px solid $zelenyy;
		}
	}

	&--padding-20 {
		padding-inline: 20px;
	}

	&--small {
		padding: 8px 40px;
	}

	&--transparent-hover-white {
		@include hover{
			background-color: transparent;
			color: $belyy;
			border: 1px solid $belyy;
		}
	}
}

.search-module {
	display: flex;
	border-radius: 8px;
	padding-block: 4px;
	padding-inline: 24px 4px;
	width: 300px;
	border: 1px solid #f5f5f5;
	justify-content: space-between;
	align-items: center;

	@include laptop-big__1600{
		width: 180px;
		padding-inline: 12px 4px;
	}

	.search {
		&__input {
			width: 100%;

			input {
				border: unset;
				width: 100%;
				font-family: $font-family;
				font-weight: 400;
				font-size: 16px;
				color: $seryy-tekst;
			}
		}

		&__btn {
			border-radius: 6px;
			padding: 7px;
			background: #f5f5f5;
			cursor: pointer;
			transition: $transition;

			&:hover {
				opacity: .5;
			}
		}
	}
}

input {
	&[type="checkbox"] {
		-webkit-appearance: none;
		appearance: none;
		width: 20px;
		height: 20px;
		background: transparent;
		border: 1px solid $sv-seryy;
		border-radius: 4px;
		cursor: pointer;
		position: relative;
		flex-shrink: 0;
		margin: 0;

		&:checked {
			background: transparent;
			border-color: $sv-seryy;

			&::after {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 12px;
				height: 12px;
				background-color: $sv-seryy;
				border-radius: 2px;
			}
		}

		&:hover {
			border-color: darken($sv-seryy, 10%);
		}
	}
}

.lazyvideo {
	cursor: pointer;

	.video__placeholder {
		position: relative;
		height: 100%;

		.placeholder__play {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			.play__icon {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 67px;
				height: 67px;
				border-radius: 50%;
				background-color: $zelenyy;
				transition: $transition;

				&:hover {
					background-color: $t-zelenyy;
				}
			}
		}
		picture, img{
			width: 100%;
			object-fit: cover;
			height: 100%;
			display: block;
		}
	}
}

.slider__container {
	width: 100%;

	.slider__controls {
		position: relative;
		display: flex;
		padding: 25px;
		width: 100px;
		margin-left: auto;
	}
}

.tabs {
	&__control {
		&.active {
			border: 1px solid $t-zelenyy;
			background-color: $t-zelenyy;
			color: $belyy;
		}
	}

	&__tab {
		&:not(.active) {
			display: none;
		}
	}
}

.dropdown {
	position: relative;

	&-content {
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		display: flex;
		padding: 20px 10px;
		box-shadow: 0 1px 14px 0 rgba(47, 47, 47, 0.15);
		background: $belyy;
		border-radius: 8px;
	}

	.icon-opened{
		display: flex;
	}
	.icon-closed{
		display: none;
	}

	&:not(.active) {
		.icon-opened{
			display: none;
		}
		.icon-closed{
			display: flex;
		}
		.dropdown-content {
			display: none;
		}
	}
}

.desktop-hidden{
	@include laptop__min{
		display: none!important;
	}
}

.locked-search, .locked-menu{
	overflow: clip;
}
.popup{
	&.popup-consult, &.popup-calc{
		padding: 0;
		border-radius: 16px;
		background-color: transparent;
		.f-button{
			&.is-close-button{
				top: 10px;
				right: 10px;
				opacity: .5;
				@include hover{
					opacity: 1;
				}
			}
		}
	}
}
.breadcrumbs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	gap: 8px;
	margin-top: auto;
	@include laptop{
		padding: 20px 0;
	}
	span{
		font-family: $font-family;
		font-weight: 400;
		font-size: 12px;
		line-height: 130%;
		color: $seryy-tekst;
		&.separator{
			color: $chernyy;
		}
	}
	a{
		font-family: $font-family;
		font-weight: 400;
		font-size: 12px;
		line-height: 130%;
		color: $chernyy;
		transition: $transition;
		&:hover{
			opacity: .5;
		}
	}
	.section__title{
		padding-top: 30px;
		@include laptop{
			padding: 0;
		}
	}
}
.arrow{
	&-right{
		transform: rotate(180deg);
	}
}
.table{
	overflow-x: auto;
	overflow-y: clip;
	table{
		width: 100%;
		tr{
			width: 100%;
			background-color: transparent;
			transition: $transition;
			&:nth-child(odd){
				background-color: $sv-seryy;
			}
			&:hover{
				background-color: #ddd;
			}
			td{
				padding: 10px 20px;
			}
		}
	}
}
@keyframes pulse {
	from{
		transform: scale(0.95);
	}
	50%{
		transform: scale(1.15);
	}
	to{
		transform: scale(0.95);
	}
}