@use "mixins" as *;
@use "../variables" as *;

html {
  background-color: white;
  scroll-behavior:  smooth;
  height:           100%;
  body{
    .tail-select, .tail-select.tail--multiple, .tail-select.tail--single{
      border-radius: 8px;
      box-shadow: unset;
      border: 1px solid transparent;
    }
    .tail-select.city-select.tail-default.tail--single{
      &:hover{
        border: 1px solid $seryy-tekst;
      }
    }
  }
}

body {
  font-family: $font-family;
  color:       $chernyy;
  font-style:  normal;
}

.container {
  padding:       0 20px;
  width:         1560px;
  margin-inline: auto;
}

.switch-btns{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  &__btn{
    border-radius: 8px;
    padding-block: 8px;
    padding-inline: 40px;
    background: transparent;
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $chernyy;
    border: 1px solid #dbdbdb;
    transition: $transition;
    cursor: pointer;
    &:hover{
      background-color: $zelenyy;
      color: $belyy;
      border: 1px solid $zelenyy;
    }
    &.active{
      background: $t-zelenyy;
      color: $belyy;
      border: 1px solid $t-zelenyy;
      cursor: default;
    }
  }
}

.btn{
  border-radius: 8px;
  padding-block: 12px;
  padding-inline: 40px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $belyy;
  background: $t-zelenyy;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 10px;
  transition: $transition;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: none;
  text-align: center;
  &:hover{
    background: $zelenyy;
  }
  &--transparent{
    background-color: transparent;
    color: $chernyy;
    border: 1px solid $zelenyy;
    &:hover{
      background-color: $zelenyy;
      color: $belyy;
    }
  }
  &--green-light{
    background-color: $zelenyy;
    color: $belyy;
    border: 1px solid $zelenyy;
    &:hover{
      background-color: $t-zelenyy;
      color: $belyy;
	  border: 1px solid $t-zelenyy;
    }
  }
  &--green-lighter{
    background-color: #eaf7f0;
    color: $chernyy;
    border: 1px solid #eaf7f0;
    &:hover{
      background-color: rgba(38, 173, 96, 1);
      color: $belyy;
	  border: 1px solid rgba(38, 173, 96, 1);
    }
  }
  &--white{
	background-color: $belyy;
    color: $chernyy;
    border: 1px solid $belyy;
    &:hover{
      background-color: $zelenyy;
      color: $belyy;
	  border: 1px solid $zelenyy;
    }
  }
  &--padding-20{
    padding-inline: 20px;
  }
  &--small{
	padding: 8px 40px;
  }
  &--transparent-hover-white{
	&:hover{
		background-color: transparent;
		color: $belyy;
		border: 1px solid $belyy;
	}
  }
}
.search-module{
	display: flex;
	border-radius: 8px;
	padding-block: 4px;
	padding-inline: 24px 4px;
	width: 300px;
	border: 1px solid #f5f5f5;
	justify-content: space-between;
	align-items: center;
	.search{
		&__input{
			width: 100%;
			input{
				border: unset;
				width: 100%;
				font-family: $font-family;
				font-weight: 400;
				font-size: 16px;
				color: $seryy-tekst;
			}
		}
		&__btn{
			border-radius: 6px;
			padding: 7px;
			background: #f5f5f5;
			cursor: pointer;
			transition: $transition;
			&:hover{
				opacity: .5;
			}
		}
	}
}
input{
	&[type="checkbox"]{
		-webkit-appearance: none;
		appearance: none;
		width: 20px;
		height: 20px;
		background: transparent;
		border: 1px solid $sv-seryy;
		border-radius: 4px;
		cursor: pointer;
		position: relative;
		flex-shrink: 0;
		margin: 0;

		&:checked{
			background: transparent;
			border-color: $sv-seryy;

			&::after{
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 12px;
				height: 12px;
				background-color: $sv-seryy;
				border-radius: 2px;
			}
		}

		&:hover{
			border-color: darken($sv-seryy, 10%);
		}
	}
}
.lazyvideo{
  cursor: pointer;
  .video__placeholder{
    position: relative;
    .placeholder__play{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .play__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 67px;
        border-radius: 50%;
        background-color: $zelenyy;
        transition: $transition;
        &:hover{
          background-color: $t-zelenyy;
        }
      }
    }
  }
}
.slider__container{
  width: 100%;
  .slider__controls {
    position: relative;
    display: flex;
    padding: 25px;
    width: 100px;
    margin-left: auto;
  }
}
.tabs{
  &__control{
    &.active{
      border: 1px solid $t-zelenyy;
      background-color: $t-zelenyy;
      color: $belyy;
    }
  }
  &__tab{
    &:not(.active){
      display: none;
    }
  }
}