// ProximaNova
@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Thin.eot');
  src: url('assets/fonts/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
       url('assets/fonts/ProximaNovaT-Thin.woff') format('woff'),
       url('assets/fonts/ProximaNovaT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-ThinIt.eot');
  src: url('assets/fonts/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-ThinIt.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-ThinIt.woff') format('woff'),
       url('assets/fonts/ProximaNova-ThinIt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Light.eot');
  src: url('assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-Light.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-Light.woff') format('woff'),
       url('assets/fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-LightIt.eot');
  src: url('assets/fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-LightIt.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-LightIt.woff') format('woff'),
       url('assets/fonts/ProximaNova-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Regular.eot');
  src: url('assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-Regular.woff') format('woff'),
       url('assets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-RegularIt.eot');
  src: url('assets/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-RegularIt.woff') format('woff'),
       url('assets/fonts/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Semibold.eot');
  src: url('assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-Semibold.woff') format('woff'),
       url('assets/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-SemiboldIt.eot');
  src: url('assets/fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-SemiboldIt.woff') format('woff'),
       url('assets/fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Bold.eot');
  src: url('assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-Bold.woff') format('woff'),
       url('assets/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-BoldIt.eot');
  src: url('assets/fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-BoldIt.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-BoldIt.woff') format('woff'),
       url('assets/fonts/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Extrabld.eot');
  src: url('assets/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-Extrabld.woff') format('woff'),
       url('assets/fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-ExtrabldIt.eot');
  src: url('assets/fonts/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-ExtrabldIt.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-ExtrabldIt.woff') format('woff'),
       url('assets/fonts/ProximaNova-ExtrabldIt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Black.eot');
  src: url('assets/fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-Black.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-Black.woff') format('woff'),
       url('assets/fonts/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-BlackIt.eot');
  src: url('assets/fonts/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/ProximaNova-BlackIt.woff2') format('woff2'),
       url('assets/fonts/ProximaNova-BlackIt.woff') format('woff'),
       url('assets/fonts/ProximaNova-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// Roboto
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// VelaSans
@font-face {
  font-family: 'Vela Sans';
  src: url('assets/fonts/VelaSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('assets/fonts/VelaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('assets/fonts/VelaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('assets/fonts/VelaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('assets/fonts/VelaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('assets/fonts/VelaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('assets/fonts/VelaSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('assets/fonts/VelaSans-GX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

