@mixin small {
	@media (max-width: 375px) {
		@content;
	}
}

@mixin medium {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 991px) {
		@content;
	}
}

@mixin tablet__min {
	@media (min-width: 991px) {
		@content;
	}
}

@mixin laptop {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin laptop__min {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin laptop-big {
	@media (max-width: 1400px) {
		@content;
	}
}

@mixin laptop-big__min {
	@media (min-width: 1400px) {
		@content;
	}
}

@mixin laptop-big__1600 {
	@media (max-width: 1600px) {
		@content;
	}
}

@mixin laptop-big__1600__min {
	@media (min-width: 1600px) {
		@content;
	}
}

@mixin large {
	@media (min-width: 1921px) {
		@content;
	}
}


@mixin large-extra {
	@media (min-width: 2540px) {
		@content;
	}
}

@mixin hover {
	@media (min-width: 768px) {
		&:hover {
			@content;
		}
	}
}