a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	border:         0;
	vertical-align: baseline;
	margin:         0;
	padding:        0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }

body {
	line-height: 1; }

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none;
	&:before, &:after, {
		content: none;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0; }

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

*,
*:before,
*:after {
	outline: none;
	box-sizing: border-box;
}

input,
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
}